<ul class="list-unstyled ps-0">
  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#home-collapse" routerLink="home">
      Home
    </a>
  </li>
  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#home-collapse" routerLink="about">
      About
    </a>
  </li>
  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#dashboard-collapse" routerLink="our-services">
      Our Services
    </a>

  </li>
  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#orders-collapse" routerLink="login">
      Login
    </a>
  </li>
  <li class="border-top my-3"></li>
  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#account-collapse" routerLink="dashboard">
      Dashboard
    </a>
  </li>
</ul>
